.footer {
  background: #292c2f;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 130px;
}

.footer .row {
  width: 100%;
  margin: 10px 0;
  padding: 0.6% 0;
  color: #8f9296;
  font-size: 0.9em;
}
.icon {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 60px;
}
