.bodycontainer {
  min-height: calc(100vh - 61px - 130px);
}
@media (min-width: 768px) {
  .bodycontainer {
    max-width: 72rem;
    margin: auto;
    padding: 16px;
  }
}
@media (max-width: 767px) {
  .bodycontainer {
    width: 100%;
    padding: 20px;
    margin: auto;
  }
}
