.article__wrapper {
  margin: auto;
}
.article__wrapper .title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
.article__item {
  display: flex;
}
.categorytag {
  display: flex;
  align-items: center;
  gap: 0 5px;
  color: rgb(0 0 0 / 60%);
  padding-left: 50px;
}
.day__item {
  color: rgb(0 0 0 / 60%);
  padding-left: 50px;
  display: flex;
  gap: 0 10px;
}
.main {
  flex: 0.8;
  flex-wrap: wrap;
  border-right: 1px solid rgb(224, 224, 224);
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}
.main h1 {
  border-bottom: 1px solid rgb(0 0 0 / 12%);
}
.main img {
  max-width: 100%;
}
.main code {
  border-radius: 6px;
}
.side {
  flex: 0.2;
  padding-left: 30px;
}
.side p {
  font-size: 1.3em;
  font-weight: bold;
}

.toc {
  font-size: 15px;
}
.toc ul {
  list-style: none;
  padding: 0;
}
.toc li {
  padding-bottom: 1.5rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}
.toc li:last-child {
  border: 0px;
  padding-bottom: 0;
}
.toc li:before {
  content: '';
  width: 13px;
  height: 13px;
  background: white;
  border: 1px solid #4e5ed3;
  box-shadow: 3px 3px 0px #bab5f8;
  box-shadow: 3px 3px 0px #bab5f8;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}
.tag__item {
  display: flex;
  align-items: center;
  gap: 0 3px;
  margin: 5px 0;
}
@media screen and (max-width: 767px) {
  .side {
    display: none;
  }
  .main {
    flex: 1;
    border: 0;
    padding: 10px;
  }
  .main pre {
    overflow-x: scroll;
  }
  .day__item {
    padding: 10px;
    font-size: 0.9em;
    gap: 0 12px;
  }
  .categorytag {
    padding: 10px;
  }
}
